.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
}

h1{
	
	text-transform: capitalize;
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid pink;
	
	height: 65px;
	text-align: center;
	border-right: 2px solid pink;
	border-left: 2px solid pink;

}

img{
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
}
img:hover{
	transform: scale(1.1);
}